@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>User @ViewData["User"]</p>
<address>
    <strong>More Information: </strong> <a href="http://appsafehouse.com.br">appsafehouse.com.br, Nosso site</a>
</address>
    

